Repository kimai/kimai, pull requests merged in 2020-06, with the labels that each got.

#1756 improve invoice create command
  src/Command/InvoiceCreateCommand.php
Labels: bug, invoice

#1758 Added Vietnamese translations
  .github/workflows/coverage.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  assets/app.js
  assets/calendar.js
  config/services.yaml
  public/build/app.6c4a170e.js
  public/build/app.cfe6b394.js
  public/build/calendar.5df1be1f.js
  public/build/calendar.e07134af.js
  public/build/entrypoints.json
  public/build/manifest.json
  translations/about.vi.xlf
  translations/actions.vi.xlf
  translations/daterangepicker.vi.xlf
  translations/email.vi.xlf
  translations/exceptions.vi.xlf
  translations/export.vi.xlf
  translations/flashmessages.vi.xlf
  translations/invoice-calculator.vi.xlf
  translations/invoice-numbergenerator.vi.xlf
  translations/invoice-renderer.vi.xlf
  translations/messages.vi.xlf
  translations/plugins.vi.xlf
  translations/security.vi.xlf
  translations/system-configuration.vi.xlf
  translations/tags.vi.xlf
  translations/teams.vi.xlf
  translations/validators.vi.xlf
Labels: translation i18n

#1768 Allow to recalculate rates via bulk edit
  src/Controller/TimesheetAbstractController.php
  src/Form/MultiUpdate/TimesheetMultiUpdate.php
  src/Form/MultiUpdate/TimesheetMultiUpdateDTO.php
  templates/export/pdf-layout.html.twig
  translations/messages.de.xlf
  translations/messages.en.xlf
Labels: bug, feature request

#1774 Fixed and added some Swedish translations
  translations/about.sv.xlf
  translations/actions.sv.xlf
  translations/daterangepicker.sv.xlf
  translations/email.sv.xlf
  translations/exceptions.sv.xlf
  translations/export.sv.xlf
  translations/flashmessages.sv.xlf
  translations/invoice-calculator.sv.xlf
  translations/invoice-numbergenerator.sv.xlf
  translations/invoice-renderer.sv.xlf
  translations/messages.sv.xlf
  translations/plugins.sv.xlf
  translations/system-configuration.sv.xlf
  translations/teams.sv.xlf
  translations/validators.sv.xlf
Labels: translation i18n

#1775 improve configurations for usage in multi-environment setups
  .gitignore
  bin/console
  config/packages/dev/jms_serializer.yaml
  config/packages/jms_serializer.yaml
  config/packages/kimai.yaml
  config/packages/prod/jms_serializer.yaml
  config/packages/prod/webpack_encore.yaml
  config/packages/webpack_encore.yaml
  public/index.php
  src/Command/InstallCommand.php
  src/Command/ReloadCommand.php
  src/Command/UpdateCommand.php
  src/DependencyInjection/AppExtension.php
  src/DependencyInjection/Configuration.php
  src/Kernel.php
  tests/DependencyInjection/AppExtensionTest.php
  tests/DependencyInjection/ConfigurationTest.php
Labels: technical debt

#1776 Invoice: switch from and to address
  src/EventSubscriber/MenuSubscriber.php
  templates/invoice/renderer/default.html.twig
Labels: feature request, invoice

#1736 Store sessions in database
  UPGRADING.md
  config/packages/framework.yaml
  config/services.yaml
  src/EventSubscriber/RedirectToLocaleSubscriber.php
  src/Migrations/Version20200524142042.php
  src/Plugin/PluginManager.php
  src/Security/AclDecisionManager.php
  src/Security/SessionHandler.php
  tests/Command/CreateReleaseCommandTest.php
  tests/Command/ImportCustomerCommandTest.php
  tests/Command/ImportTimesheetCommandTest.php
  tests/Command/KimaiImporterCommandTest.php
  tests/Command/ReloadCommandTest.php
  tests/Command/ResetCommandTest.php
  tests/Controller/PluginControllerTest.php
  tests/EventSubscriber/RedirectToLocaleSubscriberTest.php
  tests/Plugin/Fixtures/TestPlugin/TestPlugin.php
  tests/Plugin/Fixtures/TestPlugin/composer.json
  tests/Plugin/Fixtures/TestPlugin2/TestPlugin2.php
  tests/Plugin/PluginManagerTest.php
  tests/Security/AclDecisionManagerTest.php
  tests/Security/SessionHandlerTest.php
  var/data/kimai_test.sqlite
Labels: feature request

#1784 Configuration improvements
  config/packages/kimai.yaml
  src/Command/InstallCommand.php
  src/Constants.php
  src/DependencyInjection/AppExtension.php
  src/DependencyInjection/Configuration.php
  src/Security/SessionHandler.php
  src/Utils/AvatarService.php
  src/Utils/FileHelper.php
  tests/DependencyInjection/AppExtensionTest.php
Labels: technical debt

#1786 Invoices: show only custom documents in upload form
  src/Controller/InvoiceController.php
  src/DataFixtures/CustomerFixtures.php
  src/DataFixtures/InvoiceFixtures.php
  src/DataFixtures/TagFixtures.php
  src/DataFixtures/TeamFixtures.php
  src/DataFixtures/TimesheetFixtures.php
  src/DataFixtures/UserFixtures.php
  src/DependencyInjection/Configuration.php
  src/Form/InvoiceDocumentUploadForm.php
  src/Invoice/ServiceInvoice.php
  src/Repository/InvoiceDocumentRepository.php
  templates/invoice/document_upload.html.twig
  tests/Controller/InvoiceControllerTest.php
  tests/Repository/InvoiceDocumentRepositoryTest.php
  translations/validators.de.xlf
  translations/validators.en.xlf
Labels: invoice

#1790 Fixed SV locale date format
  config/packages/kimai.yaml
Labels: bug, translation i18n

#1780 add support for weekly invoice
  src/Invoice/Calculator/WeeklyInvoiceCalculator.php
  src/Invoice/Hydrator/InvoiceItemDefaultHydrator.php
  tests/Invoice/Calculator/WeeklyInvoiceCalculatorTest.php
  tests/Invoice/Hydrator/InvoiceItemDefaultHydratorTest.php
  tests/Invoice/Renderer/DebugRendererTest.php
  translations/invoice-calculator.de.xlf
  translations/invoice-calculator.en.xlf
Labels: feature request, invoice

#1796 Composer
  composer.json
  composer.lock
  config/packages/fos_rest.yaml
  phpstan.neon
  src/EventSubscriber/DashboardSubscriber.php
  src/Form/ActivityRateForm.php
  src/Form/CustomerRateForm.php
  src/Form/ProjectRateForm.php
  src/Form/TimesheetEditForm.php
  src/Repository/TimesheetRepository.php
  symfony.lock
  tests/API/TimesheetControllerTest.php
  tests/Controller/ControllerBaseTest.php
Labels: technical debt

#1720 new system-config to prevent overlapping records
  .github/PULL_REQUEST_TEMPLATE.md
  composer.json
  src/Configuration/TimesheetConfiguration.php
  src/Controller/SystemConfigurationController.php
  src/DependencyInjection/Configuration.php
  src/Repository/ConfigurationRepository.php
  src/Repository/TimesheetRepository.php
  src/Validator/Constraints/Timesheet.php
  src/Validator/Constraints/TimesheetValidator.php
  tests/Controller/ControllerBaseTest.php
  tests/Controller/SystemConfigurationControllerTest.php
  tests/Controller/TimesheetControllerTest.php
  tests/DependencyInjection/AppExtensionTest.php
  tests/DependencyInjection/ConfigurationTest.php
  tests/Validator/Constraints/TimesheetValidatorTest.php
  translations/system-configuration.de.xlf
  translations/system-configuration.en.xlf
Labels: feature request
