Repository kimai/kimai, pull requests merged in 2022-12, with the labels that each got.

#3651 Release 1.30 - last release before 2.0
  config/packages/prod/monolog.yaml
  src/Command/KimaiImporterCommand.php
  src/Constants.php
  src/Controller/HomepageController.php
  src/Controller/ProfileController.php
  src/Controller/ReportingController.php
  src/Controller/TimesheetAbstractController.php
  src/Controller/TimesheetTeamController.php
  src/DataFixtures/TimesheetFixtures.php
  src/Entity/Timesheet.php
  src/Entity/User.php
  src/Timesheet/RateService.php
  tests/API/TimesheetControllerTest.php
  tests/Entity/TagTest.php
Labels: release

#3679 weekly timesheet uses automatic billable mode
  src/Controller/QuickEntryController.php
  templates/quick-entry/index.html.twig
Labels: bug

#3681 fix find activity for project
  src/Activity/ActivityService.php
  src/Command/ImportTimesheetCommand.php
Labels: bug

#3655 Translations update from Hosted Weblate
  translations/invoice-calculator.es.xlf
  translations/invoice-numbergenerator.es.xlf
  translations/invoice-renderer.cs.xlf
  translations/invoice-renderer.es.xlf
  translations/messages.el.xlf
  translations/messages.nb_NO.xlf
  translations/reporting.el.xlf
  translations/system-configuration.el.xlf
  translations/system-configuration.pt.xlf
  translations/validators.el.xlf
Labels: translation

#3708 changed repository url
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  SECURITY.md
  UPGRADING.md
  assets/js/plugins/KimaiAjaxModalForm.js
  package.json
  src/Constants.php
  src/Form/Type/UserType.php
  src/Invoice/Renderer/AbstractSpreadsheetRenderer.php
  src/Migrations/Version20190201150324.php
  src/Migrations/Version20210802174320.php
  src/Timesheet/RateService.php
  templates/calendar/user.html.twig
  tests/Plugin/Fixtures/TestPlugin/composer.json
  tests/Plugin/PluginManagerTest.php
Labels: feature request

#3705 Translations update from Hosted Weblate
  translations/invoice-calculator.es.xlf
  translations/invoice-numbergenerator.es.xlf
  translations/invoice-renderer.es.xlf
  translations/validators.nb_NO.xlf
Labels: translation
