Repository kimai/kimai, pull requests merged in 2022-02, with the labels that each got.

#3154 export user-list reports in excel
  src/Controller/Reporting/ReportByUserController.php
  src/Controller/Reporting/ReportUsersListController.php
  src/Controller/Reporting/ReportUsersMonthController.php
  src/Controller/Reporting/ReportUsersWeekController.php
  src/Controller/Reporting/ReportUsersYearController.php
  src/Reporting/AbstractUserList.php
  templates/reporting/report_user_list.html.twig
  templates/reporting/report_user_list_data.html.twig
  templates/reporting/report_user_list_export.html.twig
  templates/reporting/report_user_list_monthly.html.twig
  templates/reporting/report_user_list_monthly_data.html.twig
  templates/reporting/report_user_list_monthly_export.html.twig
Labels: feature request, reporting

#3105 Translations update from Hosted Weblate
  translations/actions.da.xlf
  translations/export.ar.xlf
  translations/export.fr.xlf
  translations/export.hr.xlf
  translations/export.pt.xlf
  translations/messages.ar.xlf
  translations/messages.da.xlf
  translations/reporting.ar.xlf
  translations/system-configuration.ar.xlf
  translations/validators.ar.xlf
  translations/validators.da.xlf
Labels: translation i18n

#3166 xlsx export: change SUM function to SUBTOTAL function - fix #3165
  src/Export/Base/AbstractSpreadsheetRenderer.php
Labels: bug

#3158 1.18
  assets/js/KimaiPlugin.js
  assets/js/plugins/KimaiActiveRecordsDuration.js
  assets/js/plugins/KimaiDateUtils.js
  assets/js/plugins/KimaiFormSelect.js
  assets/js/plugins/KimaiSelectDataAPI.js
  package.json
  public/build/app.8609d161.js
  public/build/app.94572a11.js
  public/build/app.94572a11.js.LICENSE.txt
  public/build/entrypoints.json
  public/build/manifest.json
  src/Constants.php
  src/Controller/Reporting/ReportUsersYearController.php
  src/Controller/Reporting/UserYearController.php
  src/Form/Type/ActivityType.php
  src/Form/Type/CustomerType.php
  src/Form/Type/MetaFieldsCollectionType.php
  src/Form/Type/ProjectType.php
  src/Invoice/Calculator/PriceInvoiceCalculator.php
  src/Twig/Extensions.php
  src/Twig/LocaleFormatExtensions.php
  src/Utils/LocaleHelper.php
  src/Validator/Constraints/TimesheetBudgetUsedValidator.php
  templates/base.html.twig
  templates/export/index.html.twig
  templates/export/renderer/default.html.twig
  templates/macros/webloader.html.twig
  templates/reporting/report_user_list.html.twig
  templates/timesheet/layout-edit.html.twig
  tests/Controller/ActivityControllerTest.php
  tests/Controller/CustomerControllerTest.php
  tests/Controller/ProjectControllerTest.php
  tests/Controller/TimesheetControllerTest.php
  tests/Invoice/Calculator/PriceInvoiceCalculatorTest.php
  tests/Mocks/ActivityTestMetaFieldSubscriberMock.php
  tests/Mocks/CustomerTestMetaFieldSubscriberMock.php
  tests/Mocks/ProjectTestMetaFieldSubscriberMock.php
  tests/Mocks/TimesheetTestMetaFieldSubscriberMock.php
  tests/Twig/ExtensionsTest.php
  tests/Twig/LocaleFormatExtensionsTest.php
  tests/Utils/LocaleHelperTest.php
  translations/export.fr.xlf
  translations/export.hr.xlf
  translations/export.pt.xlf
  translations/export.pt_BR.xlf
  translations/export.ro.xlf
  translations/export.tr.xlf
  translations/export.zh_CN.xlf
  translations/invoice-calculator.de.xlf
  translations/invoice-calculator.en.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  yarn.lock
Labels: release

#3178 use proper cell format for report exports
  src/Export/Base/AbstractSpreadsheetRenderer.php
  templates/reporting/report_user_list_export.html.twig
  templates/reporting/report_user_list_monthly_export.html.twig
  templates/reporting/user_list_period_data.html.twig
Labels: reporting, export
