Repository kimai/kimai, pull requests merged in 2023-11, with the labels that each got.

#4389 Release 2.2.1
  src/Constants.php
  src/Form/ContractByUserForm.php
  src/Twig/SecurityPolicy/InvoicePolicy.php
Labels: bug, invoice

#4401 Added role cards to permission screen
  src/Controller/PermissionController.php
  src/Entity/Role.php
  src/Form/RoleType.php
  templates/permission/permissions.html.twig
  tests/Controller/PermissionControllerTest.php
  tests/Entity/RoleTest.php
  tests/phpstan.neon
Labels: feature request

#4408 Fix locale definitions starting with AM/PM
  config/locales.php
  src/Command/RegenerateLocalesCommand.php
Labels: bug

#4393 feat: dockerfile introduced to main repo
  .docker/000-default.conf
  .docker/dbtest.php
  .docker/monolog.yaml
  .docker/self-test.sh
  .docker/service.sh
  .docker/startup.sh
  .docker/test-kimai-version.sh
  .docker/test-lite.sh
  Dockerfile
Labels: docker

#4445 LDAP issues - allow to migrate from local to LDAP account
  phpstan.neon
  src/Entity/UserPreference.php
  src/Ldap/LdapCredentialsSubscriber.php
  src/Ldap/LdapManager.php
  src/Ldap/LdapUserProvider.php
  tests/Ldap/LdapManagerTest.php
  tests/Ldap/LdapUserProviderTest.php
  tests/phpstan.neon
Labels: bug, feature request

#4446 docker image and publish workflow
  .github/workflows/docker.yaml
Labels: docker

#4447 Translations update from Hosted Weblate
  translations/actions.es.xlf
  translations/actions.id.xlf
  translations/actions.tr.xlf
  translations/daterangepicker.id.xlf
  translations/export.id.xlf
  translations/flashmessages.id.xlf
  translations/invoice-calculator.de.xlf
  translations/invoice-calculator.tr.xlf
  translations/invoice-numbergenerator.id.xlf
  translations/messages.de.xlf
  translations/messages.es.xlf
  translations/messages.fi.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.pt_BR.xlf
  translations/messages.tr.xlf
  translations/plugins.de.xlf
  translations/plugins.de_CH.xlf
  translations/plugins.en.xlf
  translations/plugins.es.xlf
  translations/plugins.he.xlf
  translations/plugins.hr.xlf
  translations/plugins.id.xlf
  translations/plugins.it.xlf
  translations/plugins.pt_BR.xlf
  translations/reporting.es.xlf
  translations/reporting.tr.xlf
  translations/system-configuration.id.xlf
  translations/tasks.id.xlf
  translations/teams.id.xlf
  translations/teams.ru.xlf
  translations/validators.id.xlf
  translations/validators.it.xlf
  translations/wizard.es.xlf
  translations/wizard.id.xlf
  translations/wizard.it.xlf
  translations/wizard.tr.xlf
Labels: translation
