Repository kimai/kimai, pull requests merged in 2023-12, with the labels that each got.

#4466 Translations update from Hosted Weblate
  translations/about.id.xlf
  translations/actions.ru.xlf
  translations/flashmessages.cs.xlf
  translations/messages.es.xlf
  translations/messages.id.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ru.xlf
  translations/tasks.ru.xlf
  translations/validators.es.xlf
  translations/validators.it.xlf
Labels: translation

#4471 allow PHP 8.3
  .github/workflows/testing.yaml
  README.md
  composer.json
  composer.lock
  src/Export/Base/XlsxRenderer.php
  src/Export/Spreadsheet/Writer/XlsxWriter.php
Labels: feature request

#4490 Docker cleanup
  .docker/test-kimai-version.sh
  Dockerfile
Labels: docker

#4495 sort invoice items by date before passing to template
  src/Invoice/Calculator/AbstractCalculator.php
  src/Invoice/Calculator/AbstractSumInvoiceCalculator.php
  src/Invoice/Calculator/DefaultCalculator.php
  tests/Invoice/Calculator/ActivityInvoiceCalculatorTest.php
  tests/Invoice/Calculator/ActivityUserInvoiceCalculatorTest.php
  tests/Invoice/Calculator/DateInvoiceCalculatorTest.php
  tests/Invoice/Calculator/DateUserInvoiceCalculatorTest.php
  tests/Invoice/Calculator/DefaultCalculatorTest.php
  tests/Invoice/Calculator/PriceInvoiceCalculatorTest.php
  tests/Invoice/Calculator/ProjectInvoiceCalculatorTest.php
  tests/Invoice/Calculator/ProjectUserInvoiceCalculatorTest.php
  tests/Invoice/Calculator/ShortInvoiceCalculatorTest.php
  tests/Invoice/Calculator/UserInvoiceCalculatorTest.php
  tests/Invoice/Calculator/WeeklyInvoiceCalculatorTest.php
Labels: feature request, invoice

#4476 Docker images: upgrade to PHP 8.2 and current debian
  Dockerfile
Labels: docker

#4504 Docker: set a proper database URL including full version
  Dockerfile
Labels: bug, docker

#4507 Translations update from Hosted Weblate
  translations/about.it.xlf
  translations/actions.ru.xlf
  translations/actions.zh_Hant.xlf
  translations/daterangepicker.it.xlf
  translations/daterangepicker.zh_Hant.xlf
  translations/email.it.xlf
  translations/email.zh_Hant.xlf
  translations/export.zh_Hant.xlf
  translations/invoice-calculator.de_CH.xlf
  translations/invoice-calculator.it.xlf
  translations/invoice-calculator.zh_Hant.xlf
  translations/invoice-numbergenerator.it.xlf
  translations/invoice-numbergenerator.zh_Hant.xlf
  translations/invoice-renderer.zh_Hant.xlf
  translations/messages.es.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.sv.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/plugins.zh_Hant.xlf
  translations/tasks.zh_Hant.xlf
  translations/teams.it.xlf
  translations/teams.zh_Hant.xlf
  translations/validators.hr.xlf
  translations/validators.pt_BR.xlf
  translations/wizard.uk.xlf
  translations/wizard.zh_Hant.xlf
Labels: translation
