Repository kimai/kimai, pull requests merged in 2023-03, with the labels that each got.

#3882 Translations update from Hosted Weblate
  translations/actions.ro.xlf
  translations/invoice-calculator.sv.xlf
  translations/invoice-renderer.sv.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.fr.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.pt.xlf
  translations/messages.ro.xlf
  translations/messages.sv.xlf
Labels: translation

#3893 Translations update from Hosted Weblate
  translations/about.ar.xlf
  translations/about.cs.xlf
  translations/about.da.xlf
  translations/about.de_CH.xlf
  translations/about.el.xlf
  translations/about.eo.xlf
  translations/about.es.xlf
  translations/about.eu.xlf
  translations/about.fa.xlf
  translations/about.fi.xlf
  translations/about.fo.xlf
  translations/about.fr.xlf
  translations/about.he.xlf
  translations/about.hr.xlf
  translations/about.hu.xlf
  translations/about.it.xlf
  translations/about.ja.xlf
  translations/about.ko.xlf
  translations/about.nb_NO.xlf
  translations/about.nl.xlf
  translations/about.pl.xlf
  translations/about.pt.xlf
  translations/about.pt_BR.xlf
  translations/about.ro.xlf
  translations/about.ru.xlf
  translations/about.sk.xlf
  translations/about.sv.xlf
  translations/about.tr.xlf
  translations/about.uk.xlf
  translations/about.vi.xlf
  translations/about.zh_CN.xlf
  translations/about.zh_Hant.xlf
  translations/daterangepicker.sk.xlf
  translations/invoice-renderer.ru.xlf
  translations/system-configuration.uk.xlf
  translations/validators.he.xlf
  translations/validators.ro.xlf
Labels: translation

#3894 Translations update from Hosted Weblate
  translations/messages.tr.xlf
  translations/validators.he.xlf
  translations/validators.ro.xlf
Labels: translation

#3895 Translations update from Hosted Weblate
  translations/validators.he.xlf
  translations/validators.ro.xlf
Labels: translation

#3896 Translations update from Hosted Weblate
  translations/validators.he.xlf
  translations/validators.ro.xlf
Labels: translation

#3897 Translations update from Hosted Weblate
  translations/validators.he.xlf
  translations/validators.ro.xlf
Labels: translation

#3898 Translations update from Hosted Weblate
  translations/validators.he.xlf
  translations/validators.ro.xlf
Labels: translation

#3902 Translations update from Hosted Weblate
  translations/actions.cs.xlf
  translations/actions.nb_NO.xlf
  translations/daterangepicker.cs.xlf
  translations/invoice-renderer.cs.xlf
  translations/invoice-renderer.pt_BR.xlf
  translations/messages.cs.xlf
  translations/messages.es.xlf
  translations/messages.he.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.pt_BR.xlf
  translations/plugins.cs.xlf
  translations/system-configuration.cs.xlf
  translations/system-configuration.nb_NO.xlf
  translations/tasks.ar.xlf
  translations/tasks.cs.xlf
  translations/tasks.es.xlf
  translations/tasks.nb_NO.xlf
  translations/tasks.pt_BR.xlf
  translations/tasks.tr.xlf
  translations/teams.cs.xlf
  translations/validators.cs.xlf
  translations/wizard.cs.xlf
Labels: translation

#3900 Release 2.0.6
  phpstan.neon
  src/Constants.php
  src/Controller/InvoiceController.php
  src/Form/Type/InvoiceRendererType.php
  src/Invoice/Renderer/AbstractSpreadsheetRenderer.php
  src/Repository/InvoiceRepository.php
  src/Repository/Query/InvoiceArchiveQuery.php
  templates/invoice/renderer/timesheet.html.twig
  templates/macros/widgets.html.twig
  templates/timesheet/export.html.twig
  tests/Invoice/templates/default.pdf.twig
  translations/invoice-renderer.ar.xlf
  translations/invoice-renderer.cs.xlf
  translations/invoice-renderer.de.xlf
  translations/invoice-renderer.el.xlf
  translations/invoice-renderer.en.xlf
  translations/invoice-renderer.es.xlf
  translations/invoice-renderer.fa.xlf
  translations/invoice-renderer.fi.xlf
  translations/invoice-renderer.fr.xlf
  translations/invoice-renderer.he.xlf
  translations/invoice-renderer.hr.xlf
  translations/invoice-renderer.hu.xlf
  translations/invoice-renderer.ko.xlf
  translations/invoice-renderer.nb_NO.xlf
  translations/invoice-renderer.nl.xlf
  translations/invoice-renderer.pl.xlf
  translations/invoice-renderer.pt.xlf
  translations/invoice-renderer.pt_BR.xlf
  translations/invoice-renderer.ro.xlf
  translations/invoice-renderer.sv.xlf
  translations/invoice-renderer.tr.xlf
  translations/invoice-renderer.uk.xlf
  translations/invoice-renderer.vi.xlf
  translations/invoice-renderer.zh_CN.xlf
  translations/tasks.ar.xlf
  translations/tasks.cs.xlf
  translations/tasks.de.xlf
  translations/tasks.en.xlf
  translations/tasks.es.xlf
  translations/tasks.fi.xlf
  translations/tasks.fr.xlf
  translations/tasks.he.xlf
  translations/tasks.nb_NO.xlf
  translations/tasks.pt_BR.xlf
  translations/tasks.tr.xlf
Labels: technical debt

#3909 added translation domain for dashboard widgets
  composer.lock
  phpstan.neon
  src/Controller/DashboardController.php
  src/EventSubscriber/Actions/DashboardSubscriber.php
  src/Widget/Type/AbstractWidget.php
  src/Widget/WidgetInterface.php
  templates/dashboard/grid.html.twig
  tests/Widget/Type/DailyWorkingTimeChartTest.php
Labels: technical debt

#3905 Translations update from Hosted Weblate
  translations/daterangepicker.pt.xlf
  translations/invoice-calculator.pt.xlf
Labels: translation

#3914 Release 2.0.8
  assets/js/plugins/KimaiDateUtils.js
  package.json
  phpstan.neon
  public/build/app.952a9f98.js
  public/build/app.bd3fd9c1.js
  public/build/app.bd3fd9c1.js.LICENSE.txt
  public/build/entrypoints.json
  public/build/manifest.json
  src/API/Authentication/SessionAuthenticator.php
  src/Constants.php
  src/Repository/TimesheetRepository.php
  src/Timesheet/FavoriteRecordService.php
  templates/activity/delete.html.twig
  templates/customer/delete.html.twig
  templates/default/_form_delete.html.twig
  templates/default/_form_delete_modal.html.twig
  templates/favorite/index.html.twig
  templates/project/delete.html.twig
  templates/user/delete.html.twig
  yarn.lock
Labels: bug, feature request, release

#3922 Release 2.0.9
  migrations/Version20190706224211.php
  migrations/Version20210802152814.php
  migrations/Version20210802160837.php
  src/Command/UpdateCommand.php
  src/Constants.php
  src/Doctrine/DataSubscriberInterface.php
  src/Doctrine/TimesheetSubscriber.php
  src/Doctrine/UTCDateTimeType.php
  src/Entity/Activity.php
  src/Entity/User.php
  src/User/UserService.php
  src/Validator/Constraints/Customer.php
  src/Validator/Constraints/CustomerValidator.php
  tests/Doctrine/UTCDateTimeTypeTest.php
  tests/phpstan.neon
Labels: bug, feature request, technical debt

#3927 Release 2.0.10
  assets/js/plugins/KimaiAPILink.js
  assets/js/plugins/KimaiActiveRecords.js
  phpstan.neon
  public/build/app.454ad090.js
  public/build/app.454ad090.js.LICENSE.txt
  public/build/app.bd3fd9c1.js
  public/build/entrypoints.json
  public/build/manifest.json
  src/API/TimesheetController.php
  src/Constants.php
  src/Controller/TimesheetTeamController.php
  src/Entity/Timesheet.php
  src/Form/Type/QuickEntryWeekType.php
  templates/partials/ticktack.html.twig
  tests/phpstan.neon
Labels: bug, technical debt

#3937 Translations update from Hosted Weblate
  translations/about.de_CH.xlf
  translations/actions.de_CH.xlf
  translations/actions.uk.xlf
  translations/daterangepicker.de_CH.xlf
  translations/email.de_CH.xlf
  translations/export.de_CH.xlf
  translations/flashmessages.de_CH.xlf
  translations/invoice-calculator.de_CH.xlf
  translations/invoice-numbergenerator.de_CH.xlf
  translations/invoice-renderer.de_CH.xlf
  translations/invoice-renderer.pt.xlf
  translations/invoice-renderer.ru.xlf
  translations/messages.ru.xlf
  translations/messages.sv.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/plugins.de_CH.xlf
  translations/plugins.pt.xlf
  translations/reporting.de_CH.xlf
  translations/system-configuration.de_CH.xlf
  translations/system-configuration.pt.xlf
  translations/tasks.de_CH.xlf
  translations/tasks.pt.xlf
  translations/tasks.ro.xlf
  translations/tasks.sv.xlf
  translations/teams.de_CH.xlf
  translations/teams.pt.xlf
  translations/validators.pt.xlf
  translations/wizard.de_CH.xlf
  translations/wizard.pt.xlf
  translations/wizard.ro.xlf
Labels: translation

#3945 Translations update from Hosted Weblate
  translations/actions.hr.xlf
  translations/actions.pl.xlf
  translations/actions.zh_CN.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.fr.xlf
  translations/messages.hr.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/tasks.hr.xlf
  translations/tasks.pl.xlf
  translations/tasks.zh_CN.xlf
Labels: translation

#3955 Release 2.0.13
  assets/js/forms/KimaiFormSelect.js
  assets/js/forms/KimaiTeamForm.js
  assets/js/plugins/KimaiToolbar.js
  composer.json
  composer.lock
  phpstan.neon
  public/build/app.a6b63f34.js
  public/build/app.cd312ca8.js
  public/build/app.cd312ca8.js.LICENSE.txt
  public/build/entrypoints.json
  public/build/manifest.json
  src/Constants.php
  src/Controller/Reporting/ReportUsersMonthController.php
  src/Controller/Reporting/UserMonthController.php
  src/DataFixtures/TagFixtures.php
  src/DataFixtures/TimesheetFixtures.php
  src/EventSubscriber/Actions/UserSubscriber.php
  src/Form/DataTransformer/TagArrayToStringTransformer.php
  src/Form/Type/ColorChoiceType.php
  src/Form/Type/TagsSelectType.php
  src/Model/DailyStatistic.php
  src/Twig/LocaleFormatExtensions.php
  src/Utils/LocaleFormatter.php
Labels: bug, feature request, release
