Repository kimai/kimai, pull requests merged in 2023-08, with the labels that each got.

#4210 Translations update from Hosted Weblate
  translations/about.sl.xlf
  translations/actions.cs.xlf
  translations/actions.en.xlf
  translations/actions.he.xlf
  translations/actions.hr.xlf
  translations/actions.it.xlf
  translations/actions.pt_BR.xlf
  translations/actions.sl.xlf
  translations/daterangepicker.sl.xlf
  translations/email.sl.xlf
  translations/export.pt.xlf
  translations/export.sl.xlf
  translations/flashmessages.sl.xlf
  translations/invoice-calculator.cs.xlf
  translations/invoice-calculator.he.xlf
  translations/invoice-calculator.hr.xlf
  translations/invoice-calculator.nl.xlf
  translations/invoice-calculator.sl.xlf
  translations/invoice-numbergenerator.he.xlf
  translations/invoice-numbergenerator.sl.xlf
  translations/invoice-renderer.cs.xlf
  translations/invoice-renderer.it.xlf
  translations/invoice-renderer.pt.xlf
  translations/invoice-renderer.sl.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.en.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.sl.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/plugins.it.xlf
  translations/plugins.sl.xlf
  translations/reporting.cs.xlf
  translations/reporting.he.xlf
  translations/reporting.hr.xlf
  translations/reporting.it.xlf
  translations/reporting.pt.xlf
  translations/reporting.pt_BR.xlf
  translations/reporting.sl.xlf
  translations/reporting.uk.xlf
  translations/reporting.zh_CN.xlf
  translations/system-configuration.cs.xlf
  translations/system-configuration.it.xlf
  translations/system-configuration.sl.xlf
  translations/tasks.it.xlf
  translations/tasks.sl.xlf
  translations/teams.sl.xlf
  translations/validators.it.xlf
  translations/validators.sl.xlf
  translations/wizard.sl.xlf
Labels: translation

#4225 Release 2.0.30
  composer.lock
  phpstan.neon
  phpunit.xml.dist
  src/Constants.php
  src/Timesheet/TimesheetService.php
  src/Timesheet/TimesheetStatisticService.php
  src/Validator/Constraints/TimesheetDeactivated.php
  src/Validator/Constraints/TimesheetFutureTimes.php
  src/Validator/Constraints/TimesheetFutureTimesValidator.php
  tests/Validator/Constraints/TimesheetBasicTest.php
  tests/Validator/Constraints/TimesheetBudgetUsedTest.php
  tests/Validator/Constraints/TimesheetDeactivatedTest.php
  tests/Validator/Constraints/TimesheetExportedTest.php
  tests/Validator/Constraints/TimesheetFutureTimesTest.php
  tests/Validator/Constraints/TimesheetLockdownTest.php
  tests/Validator/Constraints/TimesheetLongRunningTest.php
  tests/Validator/Constraints/TimesheetOverlappingTest.php
  tests/Validator/Constraints/TimesheetRestartTest.php
  tests/Validator/Constraints/TimesheetZeroDurationTest.php
  tests/phpstan.neon
  yarn.lock
Labels: release

#4245 Release 2.0.31
  README.md
  src/Constants.php
  src/Entity/Activity.php
  src/Entity/ActivityMeta.php
  src/Entity/ActivityRate.php
  src/Entity/Bookmark.php
  src/Entity/CommentTableTypeTrait.php
  src/Entity/Customer.php
  src/Entity/CustomerComment.php
  src/Entity/CustomerMeta.php
  src/Entity/CustomerRate.php
  src/Entity/Invoice.php
  src/Entity/InvoiceMeta.php
  src/Entity/Project.php
  src/Entity/ProjectComment.php
  src/Entity/ProjectMeta.php
  src/Entity/ProjectRate.php
  src/Entity/Rate.php
  src/Entity/RolePermission.php
  src/Entity/Tag.php
  src/Entity/TeamMember.php
  src/Entity/Timesheet.php
  src/Entity/TimesheetMeta.php
  src/Entity/User.php
  src/Entity/UserPreference.php
  src/Entity/WorkingTime.php
  src/Form/Type/DateTimePickerType.php
  src/Form/Type/TimePickerType.php
  src/Utils/DataTable.php
  src/WorkingTime/Model/DayAddon.php
  templates/contract/status.html.twig
  tests/Controller/Security/SelfRegistrationControllerTest.php
  tests/Entity/UserTest.php
  tests/Entity/UserValidationTest.php
  tests/WorkingTime/Model/DayAddonTest.php
  tests/phpstan.neon
Labels: release

#4252 Translations update from Hosted Weblate
  translations/messages.he.xlf
  translations/messages.pt_BR.xlf
Labels: translation

#4267 Translations update from Hosted Weblate
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.tr.xlf
Labels: translation

#4261 Change isWeekend() check to isWorkingDay() and fallback to Saturday/Sunday as weekend
  src/Twig/LocaleFormatExtensions.php
  templates/contract/status.html.twig
  templates/reporting/report_by_user.html.twig
  templates/reporting/report_user_list.html.twig
  tests/Twig/LocaleFormatExtensionsTest.php
Labels: bug
