Repository kimai/kimai, pull requests merged in 2023-04, with the labels that each got.

#3963 Release 2.0.14
  .php-cs-fixer.dist.php
  composer.lock
  phpstan.neon
  src/Constants.php
  src/Controller/DoctorController.php
  src/Controller/HelpController.php
  src/Controller/Reporting/AbstractUserReportController.php
  src/Event/ActivityDetailControllerEvent.php
  src/Event/CustomerDetailControllerEvent.php
  src/Event/ProjectDetailControllerEvent.php
  src/Form/Toolbar/ExportToolbarForm.php
  src/Form/Toolbar/InvoiceToolbarForm.php
  src/Form/Toolbar/ToolbarFormTrait.php
  src/Form/Type/DatePickerType.php
  src/Form/Type/TagsType.php
  src/Form/Type/UserLanguageType.php
  src/Pdf/MPdfConverter.php
  templates/help/index.html.twig
  templates/macros/widgets.html.twig
  templates/reporting/report_by_user_data.html.twig
  templates/user/stats.html.twig
Labels: bug, feature request, release

#3968 Translations update from Hosted Weblate
  translations/email.ja.xlf
  translations/export.ja.xlf
  translations/invoice-calculator.es.xlf
  translations/messages.en.xlf
  translations/messages.it.xlf
  translations/messages.pt.xlf
  translations/tasks.ro.xlf
  translations/wizard.ja.xlf
Labels: translation

#3974 Added Import validator group
  phpstan.neon
  src/Entity/Timesheet.php
  src/Validator/Constraints/TimesheetBasic.php
  src/Validator/Constraints/TimesheetBasicValidator.php
  src/Validator/Constraints/TimesheetDeactivated.php
  src/Validator/Constraints/TimesheetDeactivatedValidator.php
  src/Validator/Constraints/TimesheetValidator.php
  tests/Entity/TimesheetValidationTest.php
  tests/Validator/Constraints/TimesheetBasicValidatorTest.php
  tests/Validator/Constraints/TimesheetDeactivatedValidatorTest.php
  tests/phpstan.neon
Labels: feature request, technical debt

#3991 Translations update from Hosted Weblate
  translations/actions.fr.xlf
  translations/export.cs.xlf
  translations/invoice-calculator.fr.xlf
  translations/invoice-renderer.fr.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/system-configuration.fr.xlf
  translations/tasks.pl.xlf
  translations/tasks.sv.xlf
  translations/teams.fr.xlf
Labels: translation
