Repository kimai/kimai, pull requests merged in 2024-04, with the labels that each got.

#4722 Translations update from Hosted Weblate
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.sv.xlf
  translations/messages.vi.xlf
  translations/validators.it.xlf
Labels: translation

#4586 split docker to use base image for faster builds
  .docker/Dockerfile.kimai-base
  .docker/test-lite.sh
  .github/workflows/docker-base.yaml
  .github/workflows/docker.yaml
  .gitignore
  Dockerfile
Labels: docker

#4746 Translations update from Hosted Weblate
  translations/actions.sv.xlf
  translations/email.sv.xlf
  translations/invoice-calculator.sv.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/reporting.sv.xlf
  translations/system-configuration.ar.xlf
  translations/system-configuration.cs.xlf
  translations/system-configuration.de.xlf
  translations/system-configuration.de_CH.xlf
  translations/system-configuration.es.xlf
  translations/system-configuration.fa.xlf
  translations/system-configuration.fr.xlf
  translations/system-configuration.he.xlf
  translations/system-configuration.hr.xlf
  translations/system-configuration.it.xlf
  translations/system-configuration.nb_NO.xlf
  translations/system-configuration.pl.xlf
  translations/system-configuration.pt.xlf
  translations/system-configuration.pt_BR.xlf
  translations/system-configuration.ro.xlf
  translations/system-configuration.ru.xlf
  translations/system-configuration.sk.xlf
  translations/system-configuration.sv.xlf
  translations/system-configuration.tr.xlf
  translations/system-configuration.uk.xlf
  translations/system-configuration.zh_CN.xlf
  translations/tasks.sv.xlf
  translations/validators.sv.xlf
  translations/wizard.sv.xlf
Labels: translation

#4710 Release 2.14
  composer.lock
  phpstan.neon
  src/Constants.php
  src/Controller/AbstractController.php
  src/Controller/CustomerController.php
  src/Controller/Security/PasswordResetController.php
  src/Controller/TimesheetController.php
  src/Controller/TimesheetTeamController.php
  src/Form/DataTransformer/TagArrayToStringTransformer.php
  src/Form/FormTrait.php
  src/Form/Toolbar/CustomerToolbarForm.php
  src/Form/Type/DateRangeType.php
  src/Form/Type/TagsInputType.php
  src/Form/Type/TagsSelectType.php
  src/Invoice/Hydrator/InvoiceModelDefaultHydrator.php
  src/Saml/SamlProvider.php
  src/Voter/ProjectVoter.php
  templates/macros/widgets.html.twig
  templates/user/contract.html.twig
  tests/API/TimesheetControllerTest.php
  tests/Form/DataTransformer/TagArrayToStringTransformerTest.php
  tests/Invoice/Hydrator/InvoiceModelDefaultHydratorTest.php
  tests/Invoice/Renderer/DebugRendererTest.php
  tests/Repository/Query/ExportQueryTest.php
  tests/Saml/SamlProviderTest.php
  tests/phpstan.neon
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
Labels: bug, feature request

#4748 SAML user service
  composer.lock
  config/services.yaml
  src/Command/ActivateUserCommand.php
  src/Command/CreateUserCommand.php
  src/Command/DeactivateUserCommand.php
  src/Command/DemoteUserCommand.php
  src/Command/PromoteUserCommand.php
  src/Controller/ProfileController.php
  src/Controller/Security/PasswordResetController.php
  src/Controller/Security/SelfRegistrationController.php
  src/Controller/WizardController.php
  src/Saml/SamlProvider.php
  src/User/UserService.php
  tests/Form/Type/TypeTestModel.php
  tests/Saml/SamlProviderTest.php
  tests/phpstan.neon
Labels: technical debt

#4637 DEVS: new API tokens
  config/packages/nelmio_api_doc.yaml
  config/packages/security.yaml
  config/services.yaml
  migrations/Version20240214061246.php
  src/API/ActionsController.php
  src/API/ActivityController.php
  src/API/Authentication/AccessTokenHandler.php
  src/API/Authentication/ApiRequestMatcher.php
  src/API/Authentication/SessionAuthenticator.php
  src/API/Authentication/TokenAuthenticator.php
  src/API/ConfigurationController.php
  src/API/CustomerController.php
  src/API/ProjectController.php
  src/API/StatusController.php
  src/API/TagController.php
  src/API/TeamController.php
  src/API/TimesheetController.php
  src/API/UserController.php
  src/Command/ResetTestCommand.php
  src/Controller/ProfileController.php
  src/DataFixtures/UserFixtures.php
  src/Entity/AccessToken.php
  src/EventSubscriber/ProfileSubscriber.php
  src/Form/AccessTokenForm.php
  src/Form/UserApiPasswordType.php
  src/Repository/AccessTokenRepository.php
  templates/bundles/NelmioApiDocBundle/SwaggerUi/index.html.twig
  templates/user/access-token.html.twig
  templates/user/api-token.html.twig
  tests/API/APIControllerBaseTest.php
  tests/API/ApiDocControllerTest.php
  tests/API/Authentication/AccessTokenHandlerTest.php
  tests/API/Authentication/SessionAuthenticatorTest.php
  tests/API/Authentication/TokenAuthenticatorTest.php
  tests/API/AuthenticationTest.php
  tests/Command/InvoiceCreateCommandTest.php
  tests/Controller/ProfileControllerTest.php
  tests/Entity/AccessTokenTest.php
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
Labels: security, API

#4765 Translations update from Hosted Weblate
  translations/actions.fi.xlf
  translations/actions.pl.xlf
  translations/actions.sv.xlf
  translations/email.pl.xlf
  translations/flashmessages.sv.xlf
  translations/invoice-calculator.pl.xlf
  translations/invoice-calculator.sv.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.es.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/plugins.fi.xlf
  translations/plugins.sv.xlf
  translations/reporting.pl.xlf
  translations/reporting.sv.xlf
  translations/system-configuration.es.xlf
  translations/system-configuration.he.xlf
  translations/system-configuration.it.xlf
  translations/system-configuration.pt.xlf
  translations/system-configuration.pt_BR.xlf
  translations/system-configuration.sv.xlf
  translations/system-configuration.tr.xlf
  translations/tasks.pl.xlf
  translations/tasks.sv.xlf
  translations/teams.sv.xlf
  translations/validators.en.xlf
  translations/validators.pl.xlf
  translations/validators.sv.xlf
  translations/wizard.pl.xlf
Labels: translation

#4749 Release 2.15
  composer.json
  composer.lock
  config/packages/doctrine.yaml
  config/packages/security.yaml
  phpstan.neon
  public/.htaccess
  src/API/ActionsController.php
  src/API/ActivityController.php
  src/API/ConfigurationController.php
  src/API/CustomerController.php
  src/API/ProjectController.php
  src/API/StatusController.php
  src/API/TagController.php
  src/API/TeamController.php
  src/API/TimesheetController.php
  src/API/UserController.php
  src/Configuration/SystemConfiguration.php
  src/Constants.php
  src/Controller/AbstractController.php
  src/Controller/DoctorController.php
  src/Controller/PluginController.php
  src/Controller/TimesheetAbstractController.php
  src/Doctrine/Extensions/Date.php
  src/Doctrine/Extensions/Day.php
  src/Doctrine/Extensions/Month.php
  src/Doctrine/Extensions/Year.php
  src/Doctrine/UTCDateTimeType.php
  src/Invoice/Hydrator/InvoiceItemDefaultHydrator.php
  src/Invoice/Hydrator/InvoiceModelActivityHydrator.php
  src/Invoice/Hydrator/InvoiceModelProjectHydrator.php
  src/Repository/Query/ActivityQuery.php
  src/Repository/Query/ProjectQuery.php
  src/Repository/UserRepository.php
  src/Saml/Security/SamlAuthenticationSuccessHandler.php
  src/Timesheet/TimesheetStatisticService.php
  src/Widget/DataProvider/DailyWorkingTimeChartProvider.php
  src/Widget/Type/DailyWorkingTimeChart.php
  templates/base.html.twig
  templates/user/2fa.html.twig
  templates/user/api-token.html.twig
  tests/Configuration/SystemConfigurationTest.php
  tests/Controller/Auth/SamlControllerTest.php
  tests/Entity/InvoiceTemplateTest.php
  tests/Export/Spreadsheet/CellFormatter/AbstractFormatterTest.php
  tests/Export/Spreadsheet/CellFormatter/DateFormatterTest.php
  tests/Invoice/Hydrator/InvoiceItemDefaultHydratorTest.php
  tests/Invoice/Hydrator/InvoiceModelActivityHydratorTest.php
  tests/Invoice/Hydrator/InvoiceModelProjectHydratorTest.php
  tests/Invoice/Renderer/DebugRendererTest.php
  tests/Invoice/Renderer/PdfRendererTest.php
  tests/Invoice/ServiceInvoiceTest.php
  tests/Twig/LocaleFormatExtensionsTest.php
  tests/Widget/Type/DailyWorkingTimeChartTest.php
  tests/phpstan.neon
  translations/messages.de.xlf
  translations/messages.en.xlf
Labels: bug, feature request, technical debt, invoice, API

#4779 API permission
  config/packages/kimai.yaml
  config/packages/security.yaml
  src/API/ActionsController.php
  src/API/ActivityController.php
  src/API/Authentication/AccessTokenSuccessHandler.php
  src/API/ConfigurationController.php
  src/API/CustomerController.php
  src/API/ProjectController.php
  src/API/StatusController.php
  src/API/TagController.php
  src/API/TeamController.php
  src/API/TimesheetController.php
  src/API/UserController.php
  src/Voter/ApiVoter.php
  tests/Controller/PermissionControllerTest.php
Labels: feature request, API

#4812 Translations update from Hosted Weblate
  translations/email.zh_Hant.xlf
  translations/export.hr.xlf
  translations/export.zh_Hant.xlf
  translations/flashmessages.zh_Hant.xlf
  translations/invoice-calculator.ro.xlf
  translations/invoice-renderer.hr.xlf
  translations/invoice-renderer.zh_Hant.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.de.xlf
  translations/messages.de_CH.xlf
  translations/messages.el.xlf
  translations/messages.en.xlf
  translations/messages.eo.xlf
  translations/messages.es.xlf
  translations/messages.eu.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.fo.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.hu.xlf
  translations/messages.id.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pa.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sl.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/reporting.zh_Hant.xlf
  translations/system-configuration.de.xlf
  translations/system-configuration.hr.xlf
  translations/system-configuration.zh_Hant.xlf
  translations/tasks.zh_Hant.xlf
  translations/validators.en.xlf
  translations/validators.zh_Hant.xlf
  translations/wizard.uk.xlf
Labels: translation

#4814 Translations update from Hosted Weblate
  translations/invoice-calculator.pl.xlf
  translations/invoice-renderer.en.xlf
  translations/invoice-renderer.pl.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/system-configuration.pl.xlf
  translations/validators.pl.xlf
Labels: translation
