Repository kimai/kimai, pull requests merged in 2024-08, with the labels that each got.

#5007 Translations update from Hosted Weblate
  translations/actions.ca.xlf
  translations/actions.id.xlf
  translations/daterangepicker.ca.xlf
  translations/email.ca.xlf
  translations/export.ca.xlf
  translations/export.id.xlf
  translations/flashmessages.ca.xlf
  translations/invoice-calculator.ca.xlf
  translations/invoice-calculator.id.xlf
  translations/invoice-renderer.ca.xlf
  translations/invoice-renderer.id.xlf
  translations/messages.ca.xlf
  translations/messages.es.xlf
  translations/messages.ja.xlf
  translations/messages.zh_Hant.xlf
  translations/plugins.ca.xlf
  translations/reporting.ca.xlf
  translations/reporting.id.xlf
  translations/system-configuration.ca.xlf
  translations/tasks.ca.xlf
  translations/teams.ca.xlf
  translations/teams.id.xlf
  translations/validators.ca.xlf
  translations/wizard.ca.xlf
Labels: translation

#5010 Translations update from Hosted Weblate
  translations/actions.ca.xlf
  translations/daterangepicker.ca.xlf
  translations/email.ca.xlf
  translations/export.ca.xlf
  translations/flashmessages.ca.xlf
  translations/invoice-calculator.ca.xlf
  translations/invoice-renderer.ca.xlf
  translations/plugins.ca.xlf
  translations/reporting.ca.xlf
  translations/system-configuration.ca.xlf
  translations/tasks.ca.xlf
  translations/teams.ca.xlf
  translations/validators.ca.xlf
  translations/wizard.ca.xlf
Labels: translation

#5009 added button to export project overview report list
  src/Controller/Reporting/ProjectViewController.php
  templates/reporting/project_list_export.html.twig
  templates/reporting/project_view.html.twig
  tests/Controller/Reporting/ProjectViewControllerTest.php
Labels: feature request, reporting, export

#5000 better support for special characters in DATABASE_URL
  .docker/dbtest.php
Labels: bug, docker

#4995 Cleanup Docker tags
  .github/workflows/docker.yaml
Labels: technical debt, docker

#4996 added OCI docker labels
  .docker/Dockerfile.kimai-base
  Dockerfile
Labels: docker

#5017 Use SF enabled_locales logic to handle locales
  config/packages/security.yaml
  config/packages/translation.yaml
  config/routes.yaml
  config/routes/dev/twig.yaml
  config/routes/test/test_routes.yaml
  config/services.yaml
  config/services_test.yaml
  src/Command/RegenerateLocalesCommand.php
  src/DependencyInjection/AppExtension.php
  tests/Controller/PermissionControllerTest.php
  tests/Controller/QuickEntryControllerTest.php
  tests/Controller/ReportingControllerTest.php
  tests/DependencyInjection/AppExtensionTest.php
Labels: technical debt

#5012 Translations update from Hosted Weblate
  translations/actions.ar.xlf
  translations/actions.id.xlf
  translations/daterangepicker.id.xlf
  translations/export.id.xlf
  translations/flashmessages.id.xlf
  translations/invoice-calculator.sl.xlf
  translations/invoice-calculator.sv.xlf
  translations/messages.ar.xlf
  translations/messages.ca.xlf
  translations/messages.de.xlf
  translations/messages.fr.xlf
  translations/messages.ru.xlf
  translations/messages.sl.xlf
  translations/messages.sv.xlf
  translations/messages.uk.xlf
  translations/plugins.ar.xlf
  translations/plugins.id.xlf
  translations/system-configuration.id.xlf
  translations/tasks.id.xlf
  translations/teams.id.xlf
  translations/validators.id.xlf
  translations/validators.sl.xlf
  translations/validators.sv.xlf
  translations/wizard.id.xlf
Labels: translation

#5014 Release 2.21.0
  assets/js/KimaiLoader.js
  assets/js/plugins/KimaiAjaxModalForm.js
  assets/js/plugins/KimaiAlternativeLinks.js
  assets/js/plugins/KimaiReducedClickHandler.js
  composer.lock
  config/packages/framework.yaml
  config/services_test.yaml
  phpstan.neon
  public/build/app.13d5a0d9.js
  public/build/app.13d5a0d9.js.LICENSE.txt
  public/build/app.41121fe4.js
  public/build/entrypoints.json
  public/build/manifest.json
  src/API/TagController.php
  src/Constants.php
  src/Controller/PermissionController.php
  src/Doctrine/Extensions/Date.php
  src/Doctrine/Extensions/Day.php
  src/Doctrine/Extensions/Month.php
  src/Doctrine/Extensions/Year.php
  src/Entity/Tag.php
  src/Entity/Timesheet.php
  src/Event/PageActionsEvent.php
  src/Event/ThemeEvent.php
  src/Form/DataTransformer/DurationStringToSecondsTransformer.php
  src/Project/ProjectStatisticService.php
  src/Repository/ActivityRepository.php
  src/Repository/BookmarkRepository.php
  src/Repository/CustomerRepository.php
  src/Repository/InvoiceRepository.php
  src/Repository/Loader/TimesheetLoader.php
  src/Repository/Paginator/PaginatorInterface.php
  src/Repository/ProjectRepository.php
  src/Repository/RepositorySearchTrait.php
  src/Repository/Result/TimesheetResult.php
  src/Repository/TagRepository.php
  src/Repository/UserRepository.php
  src/Timesheet/RoundingService.php
  templates/contract/status.html.twig
  templates/permission/permissions.html.twig
  templates/reporting/customer/monthly_projects.html.twig
  templates/reporting/project_daterange.html.twig
  templates/reporting/project_details.html.twig
  templates/reporting/project_view.html.twig
  templates/reporting/report_user_list_layout.html.twig
  tests/API/Authentication/AccessTokenHandlerTest.php
  tests/API/AuthenticationTest.php
  tests/Controller/ControllerBaseTest.php
  tests/Form/DataTransformer/DurationStringToSecondsTransformerTest.php
  tests/TranslationsTest.php
  tests/phpstan.neon
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.pl.xlf
Labels: release

#5040 bump PHPSpreadsheet major version
  composer.json
  composer.lock
  src/Invoice/Renderer/AdvancedValueBinder.php
  symfony.lock
Labels: technical debt
