Repository kimai/kimai, pull requests merged in 2024-11, with the labels that each got.

#5130 Translations update from Hosted Weblate
  translations/email.uk.xlf
  translations/email.zh_Hant.xlf
  translations/messages.id.xlf
  translations/messages.it.xlf
  translations/messages.pt.xlf
  translations/messages.ru.xlf
  translations/messages.uk.xlf
  translations/messages.zh_Hant.xlf
  translations/system-configuration.uk.xlf
  translations/tasks.uk.xlf
  translations/validators.uk.xlf
Labels: translation

#5173 allow PHP 8.4
  .github/workflows/testing.yaml
  composer.json
  composer.lock
Labels: technical debt

#5172 Translations update from Hosted Weblate
  translations/email.es.xlf
  translations/email.he.xlf
  translations/email.it.xlf
  translations/email.pt_BR.xlf
  translations/email.uk.xlf
  translations/kiosk.ar.xlf
  translations/kiosk.ca.xlf
  translations/kiosk.cs.xlf
  translations/kiosk.da.xlf
  translations/kiosk.de-CH.xlf
  translations/kiosk.el.xlf
  translations/kiosk.eo.xlf
  translations/kiosk.es.xlf
  translations/kiosk.eu.xlf
  translations/kiosk.fa.xlf
  translations/kiosk.fi.xlf
  translations/kiosk.fo.xlf
  translations/kiosk.fr.xlf
  translations/kiosk.he.xlf
  translations/kiosk.hr.xlf
  translations/kiosk.hu.xlf
  translations/kiosk.id.xlf
  translations/kiosk.it.xlf
  translations/kiosk.ja.xlf
  translations/kiosk.ko.xlf
  translations/kiosk.nb-NO.xlf
  translations/kiosk.nl.xlf
  translations/kiosk.pa.xlf
  translations/kiosk.pl.xlf
  translations/kiosk.pt-BR.xlf
  translations/kiosk.pt.xlf
  translations/kiosk.ro.xlf
  translations/kiosk.ru.xlf
  translations/kiosk.sk.xlf
  translations/kiosk.sl.xlf
  translations/kiosk.sv.xlf
  translations/kiosk.tr.xlf
  translations/kiosk.uk.xlf
  translations/kiosk.vi.xlf
  translations/kiosk.zh-Hans.xlf
  translations/kiosk.zh-Hant.xlf
  translations/messages.ar.xlf
  translations/messages.el.xlf
  translations/messages.es.xlf
  translations/messages.fa.xlf
  translations/messages.he.xlf
  translations/messages.it.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.uk.xlf
Labels: translation

#5176 Query hints & persistent cache for latest approvals
  src/Controller/TimesheetTeamController.php
  src/Export/TimesheetExportRepository.php
  src/Repository/Loader/TimesheetLoader.php
  src/Repository/Query/TimesheetQuery.php
  src/Repository/Query/TimesheetQueryHint.php
  src/Repository/Result/TimesheetResult.php
  src/Repository/TimesheetInvoiceItemRepository.php
  src/Repository/TimesheetRepository.php
  src/Repository/WorkingTimeRepository.php
  src/WorkingTime/WorkingTimeService.php
  tests/Repository/TimesheetRepositoryTest.php
Labels: feature request, technical debt

#5181 API endpoints to delete customer/project/activity
  src/API/ActivityController.php
  src/API/CustomerController.php
  src/API/ProjectController.php
  src/Activity/ActivityService.php
  src/Customer/CustomerService.php
  src/Event/ActivityDeleteEvent.php
  src/Event/CustomerDeleteEvent.php
  src/Event/ProjectDeleteEvent.php
  src/Project/ProjectService.php
  tests/API/ActivityControllerTest.php
  tests/API/CustomerControllerTest.php
  tests/API/ProjectControllerTest.php
  tests/phpstan.neon
Labels: feature request, API

#5179 Translations update from Hosted Weblate
  translations/email.id.xlf
  translations/export.id.xlf
Labels: translation

#5185 Translations update from Hosted Weblate
  translations/daterangepicker.fi.xlf
  translations/invoice-calculator.fi.xlf
  translations/invoice-renderer.fi.xlf
  translations/kiosk.fi.xlf
  translations/reporting.fi.xlf
  translations/teams.fi.xlf
Labels: translation
