Repository kimai/kimai, pull requests merged in 2024-09, with the labels that each got.

#5037 Translations update from Hosted Weblate
  translations/messages.es.xlf
  translations/messages.hr.xlf
  translations/messages.pt_BR.xlf
  translations/messages.tr.xlf
  translations/messages.zh_Hant.xlf
Labels: translation

#5068 fix hydration issues in favorites
  src/Controller/FavoriteController.php
  src/Timesheet/FavoriteRecordService.php
Labels: bug

#5045 Translations update from Hosted Weblate
  translations/actions.vi.xlf
  translations/daterangepicker.id.xlf
  translations/daterangepicker.vi.xlf
  translations/email.vi.xlf
  translations/invoice-calculator.id.xlf
  translations/invoice-calculator.vi.xlf
  translations/invoice-renderer.id.xlf
  translations/invoice-renderer.vi.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.de.xlf
  translations/messages.de_CH.xlf
  translations/messages.el.xlf
  translations/messages.en.xlf
  translations/messages.eo.xlf
  translations/messages.es.xlf
  translations/messages.eu.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.fo.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.hu.xlf
  translations/messages.id.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/plugins.vi.xlf
  translations/reporting.id.xlf
  translations/reporting.vi.xlf
  translations/system-configuration.id.xlf
  translations/system-configuration.vi.xlf
  translations/tasks.id.xlf
  translations/tasks.vi.xlf
  translations/teams.vi.xlf
  translations/validators.id.xlf
  translations/wizard.id.xlf
  translations/wizard.vi.xlf
Labels: translation

#5070 Added API endpoints to fetch invoices
  config/packages/nelmio_api_doc.yaml
  src/API/InvoiceController.php
  src/Entity/Invoice.php
  src/Invoice/InvoiceModelFactory.php
  tests/API/APIControllerBaseTest.php
  tests/API/ActivityControllerTest.php
  tests/API/ApiDocControllerTest.php
  tests/API/CustomerControllerTest.php
  tests/API/InvoiceControllerTest.php
  tests/API/ProjectControllerTest.php
  tests/API/TeamControllerTest.php
  tests/API/TimesheetControllerTest.php
  tests/DataFixtures/ActivityFixtures.php
  tests/DataFixtures/CustomerFixtures.php
  tests/DataFixtures/FixturesTrait.php
  tests/DataFixtures/InvoiceFixtures.php
  tests/DataFixtures/InvoiceTemplateFixtures.php
  tests/DataFixtures/ProjectFixtures.php
  tests/DataFixtures/TeamFixtures.php
  tests/DataFixtures/TimesheetFixtures.php
Labels: feature request, invoice

#5069 added support for changeable work contract types
  config/services.yaml
  migrations/Version20240920105524.php
  src/Controller/ProfileController.php
  src/Entity/User.php
  src/Entity/UserPreference.php
  src/Form/Model/UserContractModel.php
  src/Form/UserContractType.php
  src/WorkingTime/Calculator/WorkingTimeCalculator.php
  src/WorkingTime/Calculator/WorkingTimeCalculatorDay.php
  src/WorkingTime/Calculator/WorkingTimeCalculatorNone.php
  src/WorkingTime/Mode/WorkingTimeMode.php
  src/WorkingTime/Mode/WorkingTimeModeDay.php
  src/WorkingTime/Mode/WorkingTimeModeFactory.php
  src/WorkingTime/Mode/WorkingTimeModeNone.php
  src/WorkingTime/WorkingTimeService.php
  templates/user/contract.html.twig
  tests/Controller/ProfileControllerTest.php
  tests/Entity/UserTest.php
  tests/WorkingTime/Calculator/WorkingTimeCalculatorDayTest.php
  tests/WorkingTime/Calculator/WorkingTimeCalculatorNoneTest.php
  tests/WorkingTime/Mode/WorkingTimeModeDayTest.php
  tests/WorkingTime/Mode/WorkingTimeModeFactoryTest.php
  tests/WorkingTime/Mode/WorkingTimeModeNoneTest.php
Labels: feature request

#5073 Prepare pagination support in API
  migrations/Version20240920105524.php
  src/API/BaseApiController.php
  src/API/InvoiceController.php
  tests/API/InvoiceControllerTest.php
  tests/DataFixtures/InvoiceFixtures.php
Labels: feature request, API
