Repository kimai/kimai, pull requests merged in 2024-02, with the labels that each got.

#4587 Translations update from Hosted Weblate
  translations/actions.fr.xlf
  translations/daterangepicker.id.xlf
  translations/email.de.xlf
  translations/email.en.xlf
  translations/email.es.xlf
  translations/email.he.xlf
  translations/email.hr.xlf
  translations/email.hu.xlf
  translations/email.it.xlf
  translations/email.pt_BR.xlf
  translations/email.tr.xlf
  translations/flashmessages.id.xlf
  translations/invoice-calculator.fr.xlf
  translations/invoice-calculator.id.xlf
  translations/invoice-renderer.id.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/plugins.hu.xlf
  translations/plugins.id.xlf
  translations/reporting.fr.xlf
  translations/reporting.id.xlf
  translations/system-configuration.de.xlf
  translations/system-configuration.de_CH.xlf
  translations/system-configuration.en.xlf
  translations/system-configuration.fr.xlf
  translations/system-configuration.id.xlf
  translations/tasks.id.xlf
  translations/validators.fr.xlf
  translations/validators.id.xlf
  translations/validators.tr.xlf
  translations/wizard.id.xlf
Labels: translation

#4598 Docker: Fix TLS certificate verification for LDAP connections
  Dockerfile
Labels: docker

#4580 Release 2.11
  .github/workflows/testing.yaml
  assets/app-rtl.js
  assets/js/forms/KimaiFormSelect.js
  assets/js/plugins/KimaiAlert.js
  assets/sass/_app-rtl.scss
  assets/sass/_app.scss
  assets/sass/_kimai.scss
  composer.json
  composer.lock
  config/packages/doctrine.yaml
  package.json
  phpunit.xml.dist
  public/build/app-rtl.2e426047.css
  public/build/app-rtl.3d445498.js
  public/build/app.0ecb28c1.css
  public/build/app.4ccab775.css
  public/build/app.8d1b738d.js
  public/build/app.8d1b738d.js.LICENSE.txt
  public/build/app.adf0b03a.js
  public/build/entrypoints.json
  public/build/fonts/fa-brands-400.498f4d22.woff2
  public/build/fonts/fa-brands-400.4c05cd9b.ttf
  public/build/fonts/fa-regular-400.83824cd5.woff2
  public/build/fonts/fa-regular-400.96e19e1a.ttf
  public/build/fonts/fa-solid-900.4cbe3db2.woff2
  public/build/fonts/fa-solid-900.bb5be820.ttf
  public/build/manifest.json
  src/Command/TranslationCommand.php
  src/Constants.php
  src/Controller/ProfileController.php
  src/Entity/Activity.php
  src/Entity/Customer.php
  src/Entity/Project.php
  src/EventSubscriber/RedirectToLocaleSubscriber.php
  src/Form/DataTransformer/TagArrayToStringTransformer.php
  src/Form/Type/SearchTermType.php
  src/Form/Type/TagsInputType.php
  src/Twig/Runtime/EncoreExtension.php
  templates/base.html.twig
  templates/bundles/TablerBundle/includes/logo.html.twig
  templates/default/_form_delete_modal.html.twig
  templates/default/_form_modal.html.twig
  templates/export/layout.html.twig
  templates/invoice/renderer/timesheet.html.twig
  templates/macros/datatables.html.twig
  templates/partials/head.html.twig
  templates/security/login.html.twig
  templates/timesheet/export.html.twig
  tests/API/TimesheetControllerTest.php
  tests/Controller/TimesheetControllerTest.php
  tests/DataFixtures/TagFixtures.php
  tests/DataFixtures/TimesheetFixtures.php
  tests/phpstan.neon
  webpack.config.js
  yarn.lock
Labels: feature request

#4614 Translations update from Hosted Weblate
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.de_CH.xlf
  translations/messages.el.xlf
  translations/messages.en.xlf
  translations/messages.eo.xlf
  translations/messages.es.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
Labels: translation

#4615 added project filter in user-list reports
  phpstan.neon
  src/Controller/ProfileController.php
  src/Controller/Reporting/ReportUsersMonthController.php
  src/Controller/Reporting/ReportUsersWeekController.php
  src/Controller/Reporting/ReportUsersYearController.php
  src/Reporting/AbstractUserList.php
  src/Reporting/MonthlyUserList/MonthlyUserListForm.php
  src/Reporting/WeeklyUserList/WeeklyUserListForm.php
  src/Reporting/YearlyUserList/YearlyUserListForm.php
  src/Repository/Query/TimesheetStatisticQuery.php
  src/Repository/UserRepository.php
  src/Timesheet/TimesheetStatisticService.php
  templates/reporting/report_user_list_layout.html.twig
Labels: feature request, reporting

#4631 Weekly hours improvements
  src/Configuration/SystemConfiguration.php
  src/Controller/QuickEntryController.php
  src/Repository/TimesheetRepository.php
  src/Twig/Runtime/TimesheetExtension.php
  templates/form/blocks.html.twig
Labels: feature request

#4632 revert to classical bootstrap form layout
  templates/form/blocks.html.twig
Labels: bug

#4658 Translations update from Hosted Weblate
  translations/email.es.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.es.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/tasks.ar.xlf
  translations/tasks.cs.xlf
  translations/tasks.de_CH.xlf
  translations/tasks.es.xlf
  translations/tasks.fr.xlf
  translations/tasks.he.xlf
  translations/tasks.hr.xlf
  translations/tasks.it.xlf
  translations/tasks.nb_NO.xlf
  translations/tasks.pl.xlf
  translations/tasks.pt.xlf
  translations/tasks.pt_BR.xlf
  translations/tasks.ru.xlf
  translations/tasks.sk.xlf
  translations/tasks.sv.xlf
  translations/tasks.tr.xlf
  translations/tasks.uk.xlf
  translations/tasks.zh_CN.xlf
  translations/tasks.zh_Hant.xlf
Labels: translation
