Repository kimai/kimai, pull requests merged in 2024-06, with the labels that each got.

#4884 INVOICE: do not use activity name as fallback for description
  src/Invoice/Calculator/AbstractMergedCalculator.php
  src/Invoice/Hydrator/InvoiceItemDefaultHydrator.php
  tests/Invoice/Calculator/ShortInvoiceCalculatorTest.php
  tests/Invoice/Hydrator/InvoiceItemDefaultHydratorTest.php
  tests/Invoice/Renderer/DebugRendererTest.php
  tests/phpstan.neon
Labels: invoice

#4876 Translations update from Hosted Weblate
  translations/email.es.xlf
  translations/email.hu.xlf
  translations/email.zh_Hant.xlf
  translations/invoice-calculator.fo.xlf
  translations/messages.es.xlf
  translations/messages.fa.xlf
  translations/messages.fo.xlf
  translations/messages.he.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.zh_Hant.xlf
  translations/teams.zh_Hant.xlf
  translations/wizard.zh_Hant.xlf
Labels: translation

#4856 feat: stop multiarch images being lost on re tagging docker images
  .github/workflows/docker.yaml
Labels: docker

#4943 fixed case of `AS` keyword for consistency in Dockerfile
  Dockerfile
Labels: docker
