Repository kimai/kimai, pull requests merged in 2024-07, with the labels that each got.

#4976 Add support for special characters in DATABASE_URL
  .docker/dbtest.php
Labels: docker

#4946 Translations update from Hosted Weblate
  translations/actions.da.xlf
  translations/daterangepicker.da.xlf
  translations/email.da.xlf
  translations/email.fr.xlf
  translations/export.da.xlf
  translations/invoice-calculator.da.xlf
  translations/invoice-calculator.fr.xlf
  translations/invoice-calculator.hr.xlf
  translations/invoice-renderer.da.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.es.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.tr.xlf
  translations/plugins.da.xlf
  translations/reporting.da.xlf
  translations/system-configuration.da.xlf
  translations/system-configuration.fr.xlf
  translations/tasks.da.xlf
  translations/tasks.fr.xlf
  translations/teams.da.xlf
  translations/validators.da.xlf
  translations/validators.fr.xlf
  translations/validators.he.xlf
  translations/validators.hr.xlf
  translations/validators.it.xlf
  translations/validators.pt.xlf
  translations/validators.pt_BR.xlf
  translations/validators.tr.xlf
  translations/wizard.da.xlf
  translations/wizard.fr.xlf
Labels: translation

#4985 improve DateTimeFactory
  phpstan.neon
  src/Timesheet/DateTimeFactory.php
  tests/Timesheet/DateTimeFactoryTest.php
Labels: bug, technical debt

#4986 unify CSRF token usage in comment sections
  src/Controller/CustomerController.php
  src/Controller/ProjectController.php
  templates/customer/details.html.twig
  templates/embeds/comments.html.twig
  templates/project/details.html.twig
Labels: technical debt

#4984 Translations update from Hosted Weblate
  translations/invoice-calculator.id.xlf
  translations/messages.id.xlf
Labels: translation

#4990 Translations update from Hosted Weblate
  translations/actions.nl.xlf
  translations/daterangepicker.nl.xlf
  translations/email.nl.xlf
  translations/invoice-renderer.nl.xlf
  translations/messages.es.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.nl.xlf
  translations/plugins.nl.xlf
  translations/reporting.nl.xlf
  translations/system-configuration.nl.xlf
  translations/tasks.nl.xlf
  translations/teams.nl.xlf
  translations/validators.es.xlf
  translations/validators.nl.xlf
  translations/wizard.nl.xlf
Labels: translation

#4998 Revert Docker credentials urldecode
  .docker/dbtest.php
  src/Constants.php
Labels: bug, docker
