Repository kimai/kimai, pull requests merged in 2024-10, with the labels that each got.

#5079 Translations update from Hosted Weblate
  translations/actions.he.xlf
  translations/daterangepicker.id.xlf
  translations/email.cs.xlf
  translations/email.he.xlf
  translations/flashmessages.he.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.es.xlf
  translations/messages.fi.xlf
  translations/messages.he.xlf
  translations/messages.id.xlf
  translations/messages.vi.xlf
  translations/system-configuration.cs.xlf
  translations/system-configuration.he.xlf
  translations/system-configuration.id.xlf
  translations/tasks.cs.xlf
  translations/teams.he.xlf
  translations/validators.cs.xlf
Labels: translation

#5074 Docker: Cleanup environment variables
  .docker/dbtest.php
  .docker/service.sh
  .docker/startup.sh
  Dockerfile
Labels: help wanted, technical debt, docker, waiting for feedback

#5094 Merge Docker images
  .docker/Dockerfile
  .github/workflows/docker-base.yaml
  .github/workflows/docker.yaml
  Dockerfile
Labels: docker

#5096 Docker improvements
  .docker/000-default.conf
  Dockerfile
Labels: docker

#5097 Release 2.24
  .docker/entrypoint.sh
  Dockerfile
  assets/js/forms/KimaiFormSelect.js
  assets/sass/tabler-fixes.scss
  phpstan.neon
  public/build/app-rtl.d38ad12c.css
  public/build/app.1ed18844.css
  public/build/app.3463e2a4.js
  public/build/app.6cdb49cb.js
  public/build/app.6cdb49cb.js.LICENSE.txt
  public/build/entrypoints.json
  public/build/manifest.json
  src/Command/AbstractResetCommand.php
  src/Command/ResetTestCommand.php
  src/Command/UserLoginLinkCommand.php
  src/Configuration/SystemConfiguration.php
  src/Constants.php
  src/Controller/TimesheetAbstractController.php
  src/DataFixtures/UserFixtures.php
  src/Entity/User.php
  src/Entity/UserPreference.php
  src/Form/Type/ActivityType.php
  src/WorkingTime/WorkingTimeService.php
  templates/export/renderer/default.html.twig
  templates/timesheet/index.html.twig
  tests/API/InvoiceControllerTest.php
  tests/Command/ResetTestCommandTest.php
  tests/Controller/Security/SecurityControllerTest.php
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/validators.de.xlf
  translations/validators.en.xlf
Labels: feature request, technical debt

#5098 Translations update from Hosted Weblate
  translations/email.cs.xlf
  translations/email.es.xlf
  translations/email.he.xlf
  translations/email.tr.xlf
  translations/messages.cs.xlf
  translations/messages.es.xlf
  translations/messages.he.xlf
  translations/messages.tr.xlf
  translations/validators.cs.xlf
  translations/validators.da.xlf
  translations/validators.de.xlf
  translations/validators.es.xlf
  translations/validators.fr.xlf
  translations/validators.he.xlf
  translations/validators.hr.xlf
  translations/validators.it.xlf
  translations/validators.nl.xlf
  translations/validators.pl.xlf
  translations/validators.pt.xlf
  translations/validators.pt_BR.xlf
  translations/validators.sl.xlf
  translations/validators.sv.xlf
  translations/validators.tr.xlf
  translations/validators.zh_CN.xlf
  translations/validators.zh_Hant.xlf
Labels: translation

#5111 Ignore files from showing up in a release
  .gitattributes
  CONTRIBUTING.md
  SECURITY.md
  assets/.gitignore
  config/packages/twig.yaml
  templates/emails/css/emails.css
  templates/emails/layout.html.twig
Labels: technical debt

#5112 better support for installing plugins via composer
  .gitignore
  kimai.sh
  phpstan.neon
  src/Command/InstallCommand.php
  src/Command/PluginCommand.php
  src/Command/UpdateCommand.php
  src/Kernel.php
  src/Plugin/AbstractPluginExtension.php
  src/Plugin/Package.php
  src/Plugin/PackageManager.php
  src/Plugin/Plugin.php
  src/Plugin/PluginMetadata.php
  tests/Command/InstallCommandTest.php
  tests/Command/PluginCommandTest.php
  tests/Command/UpdateCommandTest.php
  tests/Plugin/PluginMetadataTest.php
  tests/phpstan.neon
  var/packages/.gitkeep
Labels: technical debt

#5110 Translations update from Hosted Weblate
  translations/messages.es.xlf
  translations/messages.it.xlf
  translations/messages.nl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.uk.xlf
  translations/validators.es.xlf
  translations/validators.he.xlf
  translations/validators.it.xlf
  translations/validators.pt_BR.xlf
  translations/validators.tr.xlf
Labels: translation

#5115 Improve docker installation
  .docker/dbtest.php
  Dockerfile
  src/Command/InstallCommand.php
Labels: bug, docker

#5120 Translations update from Hosted Weblate
  translations/messages.he.xlf
  translations/messages.tr.xlf
  translations/messages.zh_Hant.xlf
  translations/validators.he.xlf
Labels: translation

#5134 API begin and end fields for Admins
  src/Timesheet/TrackingMode/DefaultMode.php
  src/Timesheet/TrackingMode/DurationFixedBeginMode.php
  src/Timesheet/TrackingMode/PunchInOutMode.php
  src/Timesheet/TrackingMode/TrackingModeInterface.php
  src/Timesheet/TrackingModeService.php
  tests/API/APIControllerBaseTest.php
  tests/API/TimesheetControllerTest.php
  tests/Controller/TimesheetControllerTest.php
  tests/Mocks/TrackingModeServiceFactory.php
  tests/Timesheet/TrackingMode/DurationFixedBeginModeTest.php
  tests/Timesheet/TrackingMode/PunchInOutModeTest.php
  tests/phpstan.neon
Labels: technical debt
