Repository kimai/kimai, pull requests merged in 2024-12, with the labels that each got.

#5192 Translations update from Hosted Weblate
  translations/messages.fi.xlf
  translations/validators.hr.xlf
Labels: translation

#5189 Release 2.26
  composer.lock
  phpstan.neon
  src/API/TimesheetController.php
  src/Command/RegenerateLocalesCommand.php
  src/Constants.php
  src/Controller/Auth/SamlController.php
  src/Controller/DoctorController.php
  src/DependencyInjection/Configuration.php
  src/Entity/AccessToken.php
  src/Entity/Activity.php
  src/Entity/ActivityRate.php
  src/Entity/Bookmark.php
  src/Entity/Configuration.php
  src/Entity/Customer.php
  src/Entity/CustomerRate.php
  src/Entity/Invoice.php
  src/Entity/InvoiceTemplate.php
  src/Entity/Project.php
  src/Entity/ProjectRate.php
  src/Entity/Role.php
  src/Entity/RolePermission.php
  src/Entity/Tag.php
  src/Entity/Timesheet.php
  src/Entity/User.php
  src/Repository/WorkingTimeRepository.php
  src/Saml/SamlAuthenticator.php
  src/Saml/Security/SamlAuthenticationSuccessHandler.php
  src/Security/TwoFactorCondition.php
  src/Utils/DataTable.php
  src/WorkingTime/WorkingTimeService.php
  tests/API/APIControllerBaseTest.php
  tests/API/TimesheetControllerTest.php
  tests/Controller/Auth/SamlControllerTest.php
  tests/DependencyInjection/ConfigurationTest.php
  tests/Mocks/SecurityFactory.php
  tests/Saml/Security/SamlAuthenticationSuccessHandlerTest.php
  tests/phpstan.neon
  translations/messages.de.xlf
  translations/messages.en.xlf
Labels: bug, release

#5234 export via timesheet listing without search form
  phpstan.neon
  src/Controller/AbstractController.php
  src/Controller/TimesheetAbstractController.php
  src/Controller/TimesheetController.php
  src/Controller/TimesheetTeamController.php
  src/EventSubscriber/Actions/TimesheetsSubscriber.php
  src/EventSubscriber/Actions/TimesheetsTeamSubscriber.php
  src/Export/ExportRendererInterface.php
  src/Export/Renderer/CsvRenderer.php
  src/Export/Renderer/HtmlRenderer.php
  src/Export/Renderer/PDFRenderer.php
  src/Export/Renderer/XlsxRenderer.php
  src/Export/Timesheet/CsvRenderer.php
  src/Export/Timesheet/HtmlRenderer.php
  src/Export/Timesheet/PDFRenderer.php
  src/Export/Timesheet/XlsxRenderer.php
  src/Export/TimesheetExportInterface.php
  src/Form/Extension/ToolbarFormExtension.php
  src/Form/Toolbar/TimesheetExportToolbarForm.php
  templates/timesheet/layout-export.html.twig
  tests/Controller/ControllerBaseTest.php
  tests/Controller/ExportControllerTest.php
  tests/Controller/TimesheetControllerTest.php
  tests/Controller/TimesheetTeamControllerTest.php
  tests/Export/Renderer/CsvRendererTest.php
  tests/Export/Renderer/HtmlRendererTest.php
  tests/Export/Renderer/PdfRendererTest.php
  tests/Export/Renderer/XlsxRendererTest.php
  tests/Export/Timesheet/CsvRendererTest.php
  tests/Export/Timesheet/HtmlRendererTest.php
  tests/Export/Timesheet/PdfRendererTest.php
  tests/Export/Timesheet/XlsxRendererTest.php
  tests/phpstan.neon
Labels: feature request, export

#5246 add php 8.3 to issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: technical debt

#5211 Translations update from Hosted Weblate
  translations/email.hr.xlf
  translations/kiosk.hr.xlf
  translations/kiosk.ru.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.de.xlf
  translations/messages.el.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.it.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/reporting.ru.xlf
  translations/validators.hr.xlf
Labels: translation

#5212 Release 2.27
  phpstan.neon
  src/Configuration/MailConfiguration.php
  src/Constants.php
  src/Customer/CustomerStatisticService.php
  src/Event/CustomerStatisticEvent.php
  src/Event/WorkingTimeYearEvent.php
  src/Form/Toolbar/ToolbarFormTrait.php
  src/Invoice/Hydrator/InvoiceModelActivityHydrator.php
  src/Invoice/Hydrator/InvoiceModelCustomerHydrator.php
  src/Invoice/Hydrator/InvoiceModelProjectHydrator.php
  src/Invoice/Renderer/AbstractTwigRenderer.php
  src/Mail/KimaiMailer.php
  src/Project/ProjectStatisticService.php
  src/Repository/TagRepository.php
  src/Repository/TimesheetRepository.php
  src/Twig/TwigRendererTrait.php
  src/Utils/Pagination.php
  templates/default/_form.html.twig
  templates/default/_form_modal.html.twig
  tests/Ldap/LdapBadgeTest.php
  tests/Mail/KimaiMailerTest.php
  tests/Plugin/PackageTest.php
  tests/Twig/PaginationExtensionTest.php
  translations/email.de.xlf
  translations/email.en.xlf
  translations/email.es.xlf
  translations/email.he.xlf
  translations/email.hr.xlf
  translations/email.id.xlf
  translations/email.it.xlf
  translations/email.pt_BR.xlf
  translations/email.uk.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.id.xlf
  translations/messages.it.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
Labels: release
