Repository kimai/kimai, pull requests merged in 2024-05, with the labels that each got.

#4826 Translations update from Hosted Weblate
  translations/actions.zh_Hant.xlf
  translations/daterangepicker.zh_Hant.xlf
  translations/email.zh_Hant.xlf
  translations/export.zh_Hant.xlf
  translations/flashmessages.zh_Hant.xlf
  translations/invoice-calculator.zh_Hant.xlf
  translations/invoice-renderer.de.xlf
  translations/invoice-renderer.zh_Hant.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.ro.xlf
  translations/messages.tr.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
  translations/plugins.zh_Hant.xlf
  translations/reporting.zh_Hant.xlf
  translations/system-configuration.zh_Hant.xlf
  translations/tasks.zh_Hant.xlf
  translations/teams.zh_Hant.xlf
  translations/validators.zh_Hant.xlf
  translations/wizard.zh_Hant.xlf
Labels: translation

#4827 Translations update from Hosted Weblate
  translations/validators.uk.xlf
  translations/validators.zh_Hant.xlf
Labels: translation

#4828 Fix hidden API token
  src/Constants.php
  src/Controller/ProfileController.php
Labels: bug

#4845 Fix typo in markdown link
  README.md
Labels: documentation

#4850 Translations update from Hosted Weblate
  translations/actions.hu.xlf
  translations/invoice-calculator.hu.xlf
  translations/messages.he.xlf
  translations/messages.zh_Hant.xlf
  translations/reporting.zh_Hant.xlf
  translations/system-configuration.zh_Hant.xlf
  translations/tasks.hu.xlf
  translations/wizard.hu.xlf
Labels: translation

#4851 Update RateCalculator.php
  src/Timesheet/Calculator/RateCalculator.php
Labels: technical debt

#4862 Translations update from Hosted Weblate
  translations/daterangepicker.zh_Hant.xlf
  translations/email.ar.xlf
  translations/email.cs.xlf
  translations/email.da.xlf
  translations/email.de.xlf
  translations/email.de_CH.xlf
  translations/email.el.xlf
  translations/email.en.xlf
  translations/email.eo.xlf
  translations/email.es.xlf
  translations/email.fa.xlf
  translations/email.fi.xlf
  translations/email.fr.xlf
  translations/email.he.xlf
  translations/email.hr.xlf
  translations/email.hu.xlf
  translations/email.id.xlf
  translations/email.it.xlf
  translations/email.ko.xlf
  translations/email.nb_NO.xlf
  translations/email.nl.xlf
  translations/email.pl.xlf
  translations/email.pt.xlf
  translations/email.pt_BR.xlf
  translations/email.ro.xlf
  translations/email.ru.xlf
  translations/email.sk.xlf
  translations/email.sv.xlf
  translations/email.tr.xlf
  translations/email.uk.xlf
  translations/email.vi.xlf
  translations/email.zh_CN.xlf
  translations/email.zh_Hant.xlf
  translations/export.hr.xlf
  translations/invoice-renderer.hr.xlf
  translations/invoice-renderer.zh_Hant.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.zh_Hant.xlf
  translations/reporting.zh_Hant.xlf
  translations/system-configuration.zh_Hant.xlf
  translations/tasks.zh_Hant.xlf
  translations/validators.he.xlf
  translations/validators.zh_Hant.xlf
Labels: translation

#4836 Release 2.17
  .github/workflows/testing.yaml
  composer.lock
  config/packages/kimai.yaml
  config/packages/monolog.yaml
  config/packages/security.yaml
  phpstan.neon
  src/API/Authentication/ApiRequestMatcher.php
  src/Command/AbstractRoleCommand.php
  src/Command/DemoteUserCommand.php
  src/Command/PromoteUserCommand.php
  src/Constants.php
  src/Controller/ContractController.php
  src/Controller/ProjectController.php
  src/Controller/UserController.php
  src/Entity/Project.php
  src/Entity/Tag.php
  src/Entity/Timesheet.php
  src/Event/PageActionsEvent.php
  src/EventSubscriber/MenuSubscriber.php
  src/Form/DataTransformer/TagArrayToStringTransformer.php
  src/Form/FormTrait.php
  src/Form/Toolbar/ToolbarFormTrait.php
  src/Form/Type/TagsSelectType.php
  src/Kernel.php
  src/Project/ProjectDuplicationService.php
  src/Project/ProjectService.php
  src/Repository/Query/BaseQuery.php
  src/Security/SessionHandler.php
  src/User/UserService.php
  src/Voter/UserVoter.php
  templates/reporting/project_daterange.html.twig
  tests/Controller/ActivityControllerTest.php
  tests/Controller/ContractControllerTest.php
  tests/Controller/CustomerControllerTest.php
  tests/Controller/PermissionControllerTest.php
  tests/Controller/ProjectControllerTest.php
  tests/Controller/TimesheetControllerTest.php
  tests/Controller/TimesheetTeamControllerTest.php
  tests/Controller/UserControllerTest.php
  tests/Form/DataTransformer/TagArrayToStringTransformerTest.php
  tests/Repository/Query/BaseQueryTest.php
Labels: feature request, release
