Repository kimai/kimai, pull requests merged in 2025-06, with the labels that each got.

#5517 improved LDAP logging
  src/Ldap/LdapDriver.php
  tests/Ldap/LdapDriverTest.php
  tests/Mocks/TestLogger.php
Labels: feature request

#5524 Translations update from Hosted Weblate
  translations/daterangepicker.hu.xlf
  translations/email.hu.xlf
  translations/invoice-calculator.hu.xlf
  translations/kiosk.hu.xlf
  translations/messages.fi.xlf
  translations/messages.hu.xlf
  translations/messages.pt_BR.xlf
  translations/messages.sk.xlf
  translations/plugins.hu.xlf
  translations/plugins.pt_BR.xlf
  translations/system-configuration.hu.xlf
  translations/system-configuration.pt_BR.xlf
  translations/tasks.hu.xlf
  translations/validators.hu.xlf
  translations/validators.it.xlf
  translations/validators.pt_BR.xlf
  translations/validators.uk.xlf
  translations/wizard.hu.xlf
Labels: translation

#5540 Release 2.36.1
  composer.lock
  src/Command/InvoiceCreateCommand.php
  src/Constants.php
  src/Form/Type/QuickEntryWeekType.php
  tests/Command/InvoiceCreateCommandTest.php
Labels: bug

#5535 Translations update from Hosted Weblate
  translations/messages.es.xlf
  translations/messages.pt.xlf
  translations/validators.es.xlf
Labels: translation
