Repository kimai/kimai, pull requests merged in 2025-02, with the labels that each got.

#5318 Translations update from Hosted Weblate
  translations/email.cs.xlf
  translations/export.et.xlf
  translations/flashmessages.et.xlf
  translations/invoice-renderer.et.xlf
  translations/kiosk.cs.xlf
  translations/kiosk.fi.xlf
  translations/messages.cs.xlf
  translations/messages.hu.xlf
  translations/messages.tr.xlf
  translations/reporting.et.xlf
  translations/system-configuration.et.xlf
  translations/tasks.et.xlf
  translations/teams.et.xlf
  translations/validators.cs.xlf
  translations/validators.de.xlf
  translations/validators.et.xlf
  translations/validators.he.xlf
  translations/validators.it.xlf
  translations/validators.pt_BR.xlf
  translations/validators.uk.xlf
  translations/wizard.et.xlf
Labels: translation

#5344 Translations update from Hosted Weblate
  translations/invoice-calculator.ta.xlf
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.de_CH.xlf
  translations/messages.el.xlf
  translations/messages.eo.xlf
  translations/messages.es.xlf
  translations/messages.eu.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sv.xlf
  translations/messages.ta.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
Labels: translation

#5345 Release 2.30
  .php-cs-fixer.dist.php
  src/Command/MailTestCommand.php
  src/Constants.php
  src/Entity/InvoiceTemplate.php
  src/Event/WorkingTimeQueryStatsEvent.php
  src/Form/DataTransformer/EntityByIdTransformer.php
  src/Form/Type/ActivityByIdType.php
  src/Form/Type/CustomerByIdType.php
  src/Form/Type/ProjectByIdType.php
  src/Form/Type/TeamByIdType.php
  src/Form/Type/UserByIdType.php
  src/WorkingTime/Mode/WorkingTimeModeFactory.php
  src/WorkingTime/WorkingTimeService.php
  tests/API/ActionsControllerTest.php
  tests/Twig/LocaleFormatExtensionsTest.php
  tests/WorkingTime/Mode/WorkingTimeModeFactoryTest.php
  translations/daterangepicker.de.xlf
  translations/daterangepicker.en.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
Labels: bug, feature request

#5362 Translations update from Hosted Weblate
  translations/daterangepicker.it.xlf
  translations/daterangepicker.sv.xlf
  translations/daterangepicker.uk.xlf
  translations/email.sv.xlf
  translations/flashmessages.sv.xlf
  translations/kiosk.sv.xlf
  translations/messages.it.xlf
  translations/messages.sv.xlf
  translations/messages.uk.xlf
  translations/teams.sv.xlf
Labels: translation

#5369 Translations update from Hosted Weblate
  translations/daterangepicker.hr.xlf
  translations/messages.el.xlf
  translations/messages.et.xlf
  translations/messages.fi.xlf
  translations/messages.hr.xlf
  translations/system-configuration.ro.xlf
Labels: translation

#5370 Translation cleanup
  UPGRADING-3.md
  UPGRADING.md
  src/EventSubscriber/UserDetailsSubscriber.php
  src/Form/MultiUpdate/MultiUpdateTableDTO.php
  templates/activity/details.html.twig
  templates/contract/status.html.twig
  templates/customer/details.html.twig
  templates/embeds/teams.html.twig
  templates/permission/edit_role.html.twig
  templates/project/details.html.twig
  templates/timesheet/multi-update.html.twig
  tests/Form/MultiUpdate/MultiUpdateTableDTOTest.php
  tests/Form/MultiUpdate/TimesheetMultiUpdateDTOTest.php
  translations/messages.ar.xlf
  translations/messages.cs.xlf
  translations/messages.da.xlf
  translations/messages.de.xlf
  translations/messages.de_CH.xlf
  translations/messages.el.xlf
  translations/messages.en.xlf
  translations/messages.eo.xlf
  translations/messages.es.xlf
  translations/messages.et.xlf
  translations/messages.eu.xlf
  translations/messages.fa.xlf
  translations/messages.fi.xlf
  translations/messages.fo.xlf
  translations/messages.fr.xlf
  translations/messages.he.xlf
  translations/messages.hr.xlf
  translations/messages.hu.xlf
  translations/messages.id.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nb_NO.xlf
  translations/messages.nl.xlf
  translations/messages.pa.xlf
  translations/messages.pl.xlf
  translations/messages.pt.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ro.xlf
  translations/messages.ru.xlf
  translations/messages.sk.xlf
  translations/messages.sl.xlf
  translations/messages.sv.xlf
  translations/messages.ta.xlf
  translations/messages.tr.xlf
  translations/messages.uk.xlf
  translations/messages.vi.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_Hant.xlf
Labels: translation, technical debt

#5371 Translations update from Hosted Weblate
  translations/daterangepicker.pt_BR.xlf
  translations/daterangepicker.ta.xlf
  translations/invoice-calculator.ta.xlf
  translations/messages.hu.xlf
  translations/messages.pt_BR.xlf
  translations/messages.ta.xlf
  translations/validators.ta.xlf
Labels: translation

#5372 Release 2.31
  UPGRADING-3.md
  assets/sass/content.scss
  composer.lock
  src/Constants.php
  src/Controller/DashboardController.php
  src/Controller/Reporting/ProjectDateRangeController.php
  src/EventSubscriber/Actions/ProjectSubscriber.php
  src/Model/Statistic/DateRange.php
  src/Model/Statistic/StatisticDate.php
  src/Twig/Extensions.php
  templates/macros/datatables.html.twig
  templates/permission/permissions.html.twig
  templates/project/actions.html.twig
  templates/reporting/project/daterange.html.twig
  templates/timesheet/multi-update.html.twig
  tests/Controller/Reporting/AbstractUserPeriodControllerTestCase.php
  tests/Controller/Reporting/AbstractUsersPeriodControllerTestCase.php
  tests/Twig/ExtensionsTest.php
  translations/messages.de.xlf
  translations/messages.en.xlf
Labels: feature request
