Repository kimai/kimai, pull requests merged in 2025-05, with the labels that each got.

#5451 Translations update from Hosted Weblate
  translations/messages.el.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ru.xlf
  translations/messages.uk.xlf
Labels: translation

#5471 Translations update from Hosted Weblate
  translations/messages.es.xlf
  translations/messages.pa.xlf
  translations/messages.pl.xlf
  translations/plugins.es.xlf
  translations/system-configuration.ar.xlf
  translations/system-configuration.cs.xlf
  translations/system-configuration.da.xlf
  translations/system-configuration.de_CH.xlf
  translations/system-configuration.el.xlf
  translations/system-configuration.eo.xlf
  translations/system-configuration.es.xlf
  translations/system-configuration.eu.xlf
  translations/system-configuration.fa.xlf
  translations/system-configuration.fi.xlf
  translations/system-configuration.fr.xlf
  translations/system-configuration.he.xlf
  translations/system-configuration.hr.xlf
  translations/system-configuration.hu.xlf
  translations/system-configuration.it.xlf
  translations/system-configuration.ko.xlf
  translations/system-configuration.nb_NO.xlf
  translations/system-configuration.nl.xlf
  translations/system-configuration.pl.xlf
  translations/system-configuration.pt.xlf
  translations/system-configuration.pt_BR.xlf
  translations/system-configuration.ro.xlf
  translations/system-configuration.ru.xlf
  translations/system-configuration.sk.xlf
  translations/system-configuration.sv.xlf
  translations/system-configuration.ta.xlf
  translations/system-configuration.tr.xlf
  translations/system-configuration.uk.xlf
  translations/system-configuration.vi.xlf
  translations/system-configuration.zh_CN.xlf
  translations/system-configuration.zh_Hant.xlf
Labels: translation

#5497 Improved Locales
  config/locales.php
  config/services.yaml
  src/Command/RegenerateLocalesCommand.php
  src/Configuration/LocaleService.php
  src/Controller/HelpController.php
  src/Utils/FormFormatConverter.php
  src/Utils/LocaleFormatter.php
  templates/help/index.html.twig
  tests/DependencyInjection/AppExtensionTest.php
Labels: bug, feature request

#5498 Translations update from Hosted Weblate
  translations/messages.ru.xlf
Labels: translation

#5501 fix searchterm parsing
  src/Utils/SearchTermPart.php
  tests/Utils/SearchTermPartTest.php
Labels: bug

#5502 improve API endpoint names
  src/API/ActivityController.php
  src/API/CustomerController.php
  src/API/InvoiceController.php
  src/API/ProjectController.php
  src/API/TagController.php
  src/API/TeamController.php
  src/API/TimesheetController.php
  src/API/UserController.php
Labels: technical debt, API
